<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.label.mapper.SysTaskPackageMapper">
    
    <resultMap type="SysTaskPackage" id="SysTaskPackageResult">
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="taskPackageId"    column="task_package_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="assigner"    column="assigner"    />
        <result property="auditor"    column="auditor"    />
        <result property="projectName"    column="project_name"    />
        <result property="type"    column="type"    />
        <result property="language"    column="language"    />
    </resultMap>

    <sql id="selectSysTaskPackageVo">
        select create_by, create_time, update_by, update_time, remark, task_package_id, project_id, name, status, assigner, auditor, type, language from sys_task_package
    </sql>

    <sql id="selectSysTaskPackageVoWithProject">
        select t.create_by, t.create_time, t.update_by, t.update_time, t.remark, t.task_package_id, t.project_id, t.name, t.status, t.assigner, t.auditor, p.name as project_name, t.type, t.language from sys_task_package t left join sys_project p on t.project_id = p.project_id
    </sql>

    <select id="selectSysTaskPackageList" parameterType="SysTaskPackage" resultMap="SysTaskPackageResult">
        <include refid="selectSysTaskPackageVo"/>
        <where>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="projectId != null"> and project_id = #{projectId}</if>
        </where>
    </select>

    <select id="selectSysTaskPackageListByAssigner" parameterType="SysTaskPackage" resultMap="SysTaskPackageResult">
        <include refid="selectSysTaskPackageVoWithProject"/>
        <where>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and t.create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="name != null  and name != ''"> and t.name like concat('%', #{name}, '%')</if>
            <if test="status != null  and status != ''"> and t.status = #{status}</if>
            <if test="assigner != null  and assigner != ''"> and t.assigner = #{assigner}</if>
        </where>
    </select>

    <select id="selectSysTaskPackageByTaskPackageId" parameterType="Long" resultMap="SysTaskPackageResult">
        <include refid="selectSysTaskPackageVo"/>
        where task_package_id = #{taskPackageId}
    </select>

    <insert id="insertSysTaskPackage" parameterType="SysTaskPackage" useGeneratedKeys="true" keyProperty="taskPackageId">
        insert into sys_task_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="projectId != null">project_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="status != null">status,</if>
            <if test="assigner != null">assigner,</if>
            <if test="auditor != null">auditor,</if>
            <if test="type != null">type,</if>
            <if test="language != null">language,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="status != null">#{status},</if>
            <if test="assigner != null">#{assigner},</if>
            <if test="auditor != null">#{auditor},</if>
            <if test="type != null">#{type},</if>
            <if test="language != null">#{language},</if>
         </trim>
    </insert>

    <update id="updateSysTaskPackage" parameterType="SysTaskPackage">
        update sys_task_package
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="assigner != null">assigner = #{assigner},</if>
            <if test="auditor != null">auditor = #{auditor},</if>
            <if test="type != null">type = #{type},</if>
            <if test="language != null">language = #{language},</if>
        </trim>
        where task_package_id = #{taskPackageId}
    </update>

    <delete id="deleteSysTaskPackageByTaskPackageId" parameterType="Long">
        delete from sys_task_package where task_package_id = #{taskPackageId}
    </delete>

    <delete id="deleteSysTaskPackageByTaskPackageIds" parameterType="String">
        delete from sys_task_package where task_package_id in 
        <foreach item="taskPackageId" collection="array" open="(" separator="," close=")">
            #{taskPackageId}
        </foreach>
    </delete>
</mapper>